/* Faikin Web Application CSS */
body {
    font-family: sans-serif;
    background: #888;
}
.on {
    opacity: 1;
    transition: 1s;
}
.off {
    opacity: 0;
    transition: 1s;
}
select {
    min-height: 34px;
    border-radius: 34px;
    background-color: #ccc;
    border: 1px solid #999;
    color: black;
    box-shadow: 3px 3px 3px #0008;
}
input.temp {
    min-width: 230px;
}
input.time {
    min-height: 34px;
    min-width: 64px;
    border-radius: 34px;
    background-color: #ccc;
    border: 1px solid gray;
    color: black;
    box-shadow: 3px 3px 3px #0008;
}
a.pn {
    min-height: 34px;
    min-width: 34px;
    border-radius: 30px;
    background-color: #ccc;
    border: 1px solid gray;
    color: black;
    box-shadow: 3px 3px 3px #0008;
    margin: 3px;
    padding: 3px 10px;
    font-size: 100%;
}