[submodule "components/ESP32-RevK"]
	path = components/ESP32-RevK
	url = https://github.com/revk/ESP32-RevK
[submodule "ftdizap"]
	path = ftdizap
	url = https://github.com/revk/ftdizap
[submodule "PCBCase"]
	path = PCBCase
	url = https://github.com/revk/PCBCase
[submodule "SQLlib"]
	path = SQLlib
	url = https://github.com/revk/SQLlib
[submodule "AJL"]
	path = AJL
	url = https://github.com/revk/AJL
[submodule "AXL"]
	path = AXL
	url = https://github.com/revk/AXL
[submodule "ESP32-BlueCoinT"]
	path = ESP32-BlueCoinT
	url = https://github.com/revk/ESP32-BlueCoinT
