[submodule "components/ESP32-RevK"]
	path = components/ESP32-RevK
	url = https://github.com/revk/ESP32-RevK
[submodule "ftdizap"]
	path = ftdizap
	url = https://github.com/revk/ftdizap
[submodule "PCBCase"]
	path = PCBCase
	url = https://github.com/revk/PCBCase
